<app-navbar></app-navbar>

<app-progress-bar *ngIf="loading==true"></app-progress-bar>

<div class="container" *ngIf="loading==false">
    <div class="row mt-5">
    
        <div class="col-lg-4 offset-lg-4">
      
          <div class="card text-black bg-secondary mb-3">
            <div class="card-header text-center">{{ accion }} producto</div>
            <div class="card-body">
      
              <form [formGroup]="form" (ngSubmit)="addProduct()">

                  <input formControlName="nombre" type="text" class="form-control" placeholder="Introducir nombre">
                  <span *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
                    El campo Nombre es <strong>requerido</strong>
                  </span>

                  <input formControlName="descripcion" type="text" class="form-control mt-2" placeholder="Introducir descripcion">
                  <span *ngIf="form.get('descripcion')?.hasError('required') && form.get('descripcion')?.touched">
                    El campo Descripcion es <strong>requerido</strong>
                  </span>

                  <input formControlName="precio" type="number" class="form-control mt-2" placeholder="Introducir precio">
                  <span *ngIf="form.get('precio')?.hasError('required') && form.get('precio')?.touched">
                    El campo Precio es <strong>requerido</strong>
                  </span>

                  <input formControlName="existencias" type="number" class="form-control mt-2" placeholder="Introducir existencias">
                  <span *ngIf="form.get('existencias')?.hasError('required') && form.get('existencias')?.touched">
                    El campo Existencias es <strong>requerido</strong>
                  </span>

                  <div class="row mt-2 text-center">
      
                      <div class="col-lg-6 mt-2">
                          <button type="button" class="btn btn-outline-danger" routerLink="/productos">Cancelar</button>
                      </div>
      
                      <div class="col-lg-6 mt-2">
                          <button type="submit" class="btn btn-outline-primary" [disabled]="form.invalid">Aceptar</button>
                       </div>
      
                  </div>
              </form>
      
            </div>
          </div>
          
        </div>
      
      </div>

</div>



